/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 25px;
}

.code {
  color: #c7254e;
  background-color: #f9f2f4;
}

p {
  max-width: 600px;
}

a {
  color: #c7254e;
  background-color: #f9f2f4;
}
